<h1>Places</h1>

<div class="mt-2">
<p>
  <a href="/places/new">New place</a>
</p>
</div>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>