    <div class="row">
      <div class="col-sm-9">
        <h1>Places</h1>
      </div>
      <div class="col-sm-3 text-end">
        <a href="/places/new/" class="btn btn-dark">New Place</a>
      </div>
    </div>

<ul style="padding: 0; list-style: none;">
  <% for place in @places %>
    <div class="mt-4">
    <li><h5><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></h5></li>
    </div>
  <% end %>
</ul>